<section class="hero-section">
        
        <div class="image-container"> 
        <a href="page1.html">
            <img src="images/landscape1.png" alt="Landscape 1" class="landscape">
        </a>
        </div>

        <div class="portrait-container">
            
            <a href="page2.html">
                <img src="images/portrait1.png" alt="Portrait 1" class="portrait">
            </a>
            
            <a href="page3.html">
                <img src="images/portrait2.png" alt="Portrait 2" class="portrait">
            </a>
        </div>
    
        <a href="page4.html">
            <img src="images/landscape2.png" alt="Landscape 3" class="landscape">
        </a>

    </section>

    <div class="background">
        <div class="tagline">The Style Source for Every Kind of <span style="font-style: normal; font-weight: bold;">IT Girl.</span></div>
        <h1 class="bg-logo">PrettyLittleThing</h1>        
    </div>

    <div class="image-section">
        
        <img src="images/bottoms.png" alt="Fashion Image 1">
        <img src="images/outerwear.png" alt="Fashion Image 2">
        <img src="images/occassion.png" alt="Fashion Image 3">
        <img src="images/denim.png" alt="Fashion Image 4">
    
    </div>

    <div class="carousel-container">

        <div class="carousel-text">
            <a href="/products">
                <h2 style="font-weight: bold;">Best Sellers</h2>
              </a>
            <p>Our most loved pieces are here! Shop the top trending outfits that everyone is raving about.</p>
            <p>Don't miss out—grab yours before they’re gone!</p>
        </div>   

        <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href=""><img src="Images/Carousel1.png" class="d-block w-100" alt="Slide 1"></a>
          </div>
          <div class="carousel-item">
            <a href=""><img src="Images/carousel2.png" class="d-block w-100" alt="Slide 2"></a>
          </div>
          <div class="carousel-item">
            <a href=""><img src="Images/carousel3.png" class="d-block w-100" alt="Slide 3"></a>
          </div>
        </div>

      </div>
    </div>
    