
<div class="top-section">
    <a href="page1.html">
        <div class="flash-sale">20% OFF* CODE: TWENTY</div>
    </a>

    <div class="logo-container">
        <h1 class="logo">PrettyLittleThing</h1>

        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="SEARCH">
        </div>

        <div class="icons">
            <a href="/auth/login">
                    <i class="fa-regular fa-user"> Account</i>
                </a>
            <a href="page1.html"><i class="fa-regular fa-heart"> Wishlist</i></a>
            <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </div>

    <%- include('navigation') %>

    