<div class="menu">
        <ul>
            <li class="has-dropdown">NEW ARRIVALS
                <div class="w3-container w3-center w3-animate-zoom">
                    <div class="dropdown">
                        <img src="images/dropdown1.png" alt="New Arrivals"> 
                        <div class="dropdown-columns d-flex">
                            <ul class="dropdown-list">
                                <li style="color: black;">NEW ARRIVALS</li>
                                <li><a href="#">View All</a></li>
                                <li><a href="#">New in Today</a></li>
                                <li><a href="#">Back in Stock</a></li>
                            </ul>
                            <ul class="dropdown-list">
                                <li style="color: black;">COLLECTIONS</li>
                                <li><a href="#">PLT Label</a></li>
                                <li><a href="#">Spring Statements</a></li>
                            </ul>
                        </div>
                    </div>
                </div>  
            </li>

            <li class="has-dropdown">CLOTHING
                <div class="dropdown">
                    <img src="images/dropdown2.png" alt="Clothing">
                    <div class="dropdown-columns d-flex">
                        <ul class="dropdown-list">
                            <li style="color: black;">CLOTHING</li>
                            <li><a href="#">Dresses</a></li>
                            <li><a href="#">Tops</a></li>
                            <li><a href="#">Activewear</a></li>
                            <li><a href="#">Athleisure</a></li>
                            <li><a href="#">Co-ords</a></li>
                            <li><a href="#">Blazers</a></li>
                            <li><a href="#">Bottoms</a></li>
                            <li><a href="#">Coats & Jackets</a></li>
                            <li><a href="#">Denim</a></li>
                        </ul>
                        <ul class="dropdown-list">
                            <li></li>
                            <li><a href="#">Hoodies</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Joggers</a></li>
                            <li><a href="#">Jumpsuits & Playsuits</a></li>
                            <li><a href="#">Knitwear</a></li>
                            <li><a href="#">Lingerie</a></li>
                            <li><a href="#">Loungewear</a></li>
                            <li><a href="#">Nightwear</a></li>
                            <li><a href="#">Shorts</a></li>
                        </ul>
                        <ul class="dropdown-list">
                            <li></li>
                            <li><a href="#">Skirts</a></li>
                            <li><a href="#">Swimwear</a></li>
                            <li><a href="#">Tracksuits</a></li>
                            <li><a href="#">Trousers</a></li>
                        </ul>
                        <ul class="dropdown-list">
                            <li style="color: black;">PLT RANGES</li>
                            <li><a href="#">Plus Size</a></li>
                            <li><a href="#">Petite</a></li>
                            <li><a href="#">Shape</a></li>
                            <li><a href="#">Tall</a></li>
                            <li><a href="#">Maternity</a></li>
                        </ul>
                        <ul class="dropdown-list">
                            <li style="color: black;">WHAT TO WEAR</li>
                            <li><a href="#">Spring Staples</a></li>
                            <li><a href="#">Going Out Outfits</a></li>
                            <li><a href="#">Holiday Shop</a></li>
                            <li><a href="#">Wedding Guest</a></li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="has-dropdown">TRENDING
                <div class="dropdown">
                    <img src="images/dropdown3.png" alt="Trending">
                    <div class="dropdown-columns d-flex">
                        <ul class="dropdown-list">
                            <li style="color: black;">YOUR MOST HYPED</li>
                            <li><a href="#">Holiday Shop</a></li>
                            <li><a href="#">Butter Yellow</a></li>
                            <li><a href="#">Spring Preview</a></li>
                            <li><a href="#">Timeless Tailoring</a></li>
                            <li><a href="#">Denim</a></li>
                            <li><a href="#">Athleisure</a></li>
                        </ul>
                        <ul class="dropdown-list">
                            <li style="color: black;">EDIT</li>
                            <li><a href="#">View The Edit</a></li>
                            <li><a href="#">PLT Blog</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>DRESSES</li>
            <li>SHOES & ACCESSORIES</li>
            <li>BEAUTY</li>
            <li>SALE</li>
        </ul>
    </div>
</div>

