
<div class="top-section">
    <a href="page1.html">
        <div class="flash-sale">20% OFF* CODE: TWENTY</div>
    </a>

    <div class="logo-container">
        <h1 class="logo">PrettyLittleThing</h1>

        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="SEARCH">
        </div>

        <div class="icons">
            <a href="/auth/login">
                    <i class="fa-regular fa-user"> Account</i>
                </a>
            <form id="logout-form" action="/auth/logout" method="POST" style="display: inline;">
                <button type="submit" style="border: none; background: none; padding: 0;" onclick="return confirm('Are you sure you want to logout?')">
                    <img src="/images/logout.png" alt="Logout" style="cursor: pointer;">
                </button>
            </form>
            <a href="/complaints/contact">
                    <i class="fas fa-headset me-1">Contact Us</i>
                   
            </a>

            <a href="/orders/my-orders"><i class="fa-regular fa-heart"> Wishlist</i></a>
            <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
            <a href="/admin"><i class="fa-solid fa-gear"></i></a>
        </div>
    </div>

    <%- include('navigation') %>

    